/source/**/*.html
/source/**/*.css
/source/**/*.atom
!/source/vendor/**
/**/compiled/
/**/pollen-cache/
/target
/documentation/*.html
/documentation/*.css
/documentation/*.js
/compiled-documentation/
