<li><a href="index.html"{% unless page.url contains ".html" %} class="active"{% endunless %}>Introduction</a></li>
<li><a href="overview"{% if page.url contains "overview.html" %} class="active"{% endif %}>Overview</a></li>
<li><a href="peg-solitaire-rules"{% if page.url contains "peg-solitaire-rules.html" %} class="active"{% endif %}>Peg Solitaire Rules</a></li>
<li><a href="terms"{% if page.url contains "terms.html" %} class="active"{% endif %}>Terms</a></li>
<li><a href="pattern-matching"{% if page.url contains "pattern-matching.html" %} class="active"{% endif %}>Pattern Matching</a></li>
<li><a href="languages"{% if page.url contains "languages.html" %} class="active"{% endif %}>Languages</a></li>
<li><a href="metafunctions"{% if page.url contains "metafunctions.html" %} class="active"{% endif %}>Metafunctions</a></li>
<li><a href="reduction-relations"{% if page.url contains "reduction-relations.html" %} class="active"{% endif %}>Reduction Relations</a></li>
<li><a href="predicate-relations"{% if page.url contains "predicate-relations.html" %} class="active"{% endif %}>Predicate Relations</a></li>
<li><a href="judgment-forms"{% if page.url contains "judgment-forms.html" %} class="active"{% endif %}>Judgment Forms</a></li>
<li><a href="visualization"{% if page.url contains "visualization.html" %} class="active"{% endif %}>Visualization</a></li>
<li><a href="other-features"{% if page.url contains "other-features.html" %} class="active"{% endif %}>Other Features</a></li>
<li><a href="limitations"{% if page.url contains "limitations.html" %} class="active"{% endif %}>Limitations</a></li>
<li><a href="related-work"{% if page.url contains "related-work.html" %} class="active"{% endif %}>Related Work</a></li>
<li><a href="conclusion"{% if page.url contains "conclusion.html" %} class="active"{% endif %}>Conclusion</a></li>
<li><a href="playing-the-game-with-plt-redex.zip">Appendix: Full Listing</a></li>
