---
---

@font-face {
  font-family: "Charter";
  font-weight: normal;
  font-style: normal;
  src: url("charter_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: normal;
  font-style: italic;
  src: url("charter_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: bold;
  font-style: normal;
  src: url("charter_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: bold;
  font-style: italic;
  src: url("charter_bold_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: normal;
  font-style: normal;
  src: url("iosevka-term-slab-regular.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: normal;
  font-style: italic;
  src: url("iosevka-term-slab-italic.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: bold;
  font-style: normal;
  src: url("iosevka-term-slab-bold.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: bold;
  font-style: italic;
  src: url("iosevka-term-slab-bolditalic.woff") format("woff");
}

body {
  font-family: "Charter", "Georgia", serif;
  line-height: 1.5;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

a { color: black; }

h1, h2 {
  line-height: 1.25;
  margin-top: 2rem;
  a { text-decoration: none; }
  & + & { margin-top: 1rem; }
}

header h1 { text-align: center; }

h1 { font-size: 1.5rem; }

h2 {
  font-size: 1.25rem;
  font-weight: normal;
  font-style: italic;
}

figure {
  font-style: italic;
  text-align: center;
  margin: 2rem 0;
}

img, svg, video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

video, audio { width: 100%; }

summary { cursor: pointer; }

pre, code, input, textarea, button, button:active, .button {
  font-family: "Iosevka Term Slab", "Courier New", monospace;
}

pre, input, textarea, button, button:active, .button {
  font-size: 0.875rem;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
}

pre {
  font-style: normal;
  text-align: left;
  overflow: auto;
  padding: 1rem;
}

input, textarea, button, button:active, .button {
  color: black;
  background-color: transparent;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.25rem;
  resize: none;
}

button, button:active, .button {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

// $ rougify style pastie --scope 'REMOVE-ME' >> stylesheets/main.scss

.c, .ch, .cd, .cm, .cpf, .c1 {
  color: #888888;
}
.cp {
  color: #cc0000;
  font-weight: bold;
}
.cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
.err {
  color: #a61717;
  background-color: #e3d2d2;
}
.gr {
  color: #aa0000;
}
.gh {
  color: #333333;
}
.gu {
  color: #666666;
}
.gd {
  color: #000000;
  background-color: #ffdddd;
}
.gi {
  color: #000000;
  background-color: #ddffdd;
}
.ge {
  font-style: italic;
}
.gs {
  font-weight: bold;
}
.gl {
  color: #888888;
}
.go {
  color: #888888;
}
.gp {
  color: #555555;
}
.gt {
  color: #aa0000;
}
.k, .kc, .kd, .kn, .kr, .kv {
  color: #008800;
  font-weight: bold;
}
.kp {
  color: #008800;
}
.kt {
  color: #888888;
  font-weight: bold;
}
.m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
  color: #0000dd;
  font-weight: bold;
}
.s, .sa, .sb, .sc, .dl, .sd, .s2, .sh, .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
.se {
  color: #0044dd;
  background-color: #fff0f0;
}
.si {
  color: #3333bb;
  background-color: #fff0f0;
}
.sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.sr {
  color: #008800;
}
.ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.na {
  color: #336699;
}
.nb, .bp {
  color: #003388;
}
.nc {
  color: #bb0066;
  font-weight: bold;
}
.no {
  color: #003366;
  font-weight: bold;
}
.nd {
  color: #555555;
}
.ne {
  color: #bb0066;
  font-weight: bold;
}
.nf, .fm {
  color: #0066bb;
  font-weight: bold;
}
.nl {
  color: #336699;
}
.nn {
  color: #bb0066;
  font-weight: bold;
}
.py {
  color: #336699;
  font-weight: bold;
}
.nt {
  color: #bb0066;
  font-weight: bold;
}
.nv, .vc, .vm {
  color: #336699;
}
.vg {
  color: #dd7700;
}
.vi {
  color: #3333bb;
}
.ow {
  color: #008800;
}
.w {
  color: #bbbbbb;
}
