---
---

// ---------------------------------------------------------------------------------------------------
// AUXILIARY

@import "normalize.css";
@import "syntax-highlighting.css";

@function rem($px) {
  @return #{round($px/16px * 100) / 100}rem;
}

// ---------------------------------------------------------------------------------------------------
// GRID

// |                bigger-screens                   |
// |                     1024                        |
// |         |           body              |         |
// |         |           1000              |         |
// | padding | main | gutter | margin-note | padding |
// |   12    | 600  |   75   |     325     |   12    |
//                  |   margin-note--pull  |
//                  |         400          |

// |     smaller-screens      |
// |           624            |
// | padding | main | padding |
// |   12    | 600  |   12    |

$grid--body:              rem(1000px);
$grid--padding:           rem(12px);
$grid--main:              rem(600px);
$grid--gutter:            rem(75px);
$grid--margin-note:       rem(325px);
$grid--margin-note--pull: rem(400px);
@mixin bigger-screens  { @media (min-width: rem(1024px)) { @content; } }
@mixin smaller-screens { @media (max-width: rem(1023px)) { @content; } }

// ---------------------------------------------------------------------------------------------------
// SPACES

$space--none:              0;
$space--extra-extra-small: 0.1rem;
$space--extra-small:       0.2rem;
$space--small:             0.5rem;
$space--medium:            1rem;
$space--large:             1.5rem;
$space--extra-large:       2rem;

// ---------------------------------------------------------------------------------------------------
// TEXT

$font-family--main:            "Charter", "Iowan Old Style", "Georgia", serif;
$font-family--monospace:       "Fira Mono", "Menlo", "Monaco", "Courier New", monospace;
$font-size--extra-extra-small: rem(9px);
$font-size--extra-small:       rem(12px);
$font-size--small:             rem(13px);
$font-size--medium:            rem(16px);
$font-size--large:             rem(20px);
$font-size--extra-large:       rem(22px);
$font-size--extra-extra-large: rem(30px);
$line-height--extra-small:     1;
$line-height--small:           1.3;
$line-height--medium:          1.5;
$line-height--large:           2;
$text-indent:                  1.5rem;
$letter-spacing:               0.2em;

// ---------------------------------------------------------------------------------------------------
// PALETTE

$solarized--base03:  #002b36;
$solarized--base02:  #073642;
$solarized--base01:  #586e75;
$solarized--base00:  #657b83;
$solarized--base0:   #839496;
$solarized--base1:   #93a1a1;
$solarized--base2:   #eee8d5;
$solarized--base3:   #fdf6e3;
$solarized--yellow:  #b58900;
$solarized--orange:  #cb4b16;
$solarized--red:     #dc322f;
$solarized--magenta: #d33682;
$solarized--violet:  #6c71c4;
$solarized--blue:    #268bd2;
$solarized--cyan:    #2aa198;
$solarized--green:   #859900;

$palette--background:           $solarized--base3;
$palette--background-highlight: $solarized--base2;
$palette--secondary-content:    $solarized--base1;
$palette--primary-content:      $solarized--base00;
$palette--emphasized-content:   $solarized--base01;
$palette--yellow:               $solarized--yellow;
$palette--orange:               $solarized--orange;
$palette--red:                  $solarized--red;
$palette--magenta:              $solarized--magenta;
$palette--violet:               $solarized--violet;
$palette--blue:                 $solarized--blue;
$palette--cyan:                 $solarized--cyan;
$palette--green:                $solarized--green;

// ---------------------------------------------------------------------------------------------------
// BORDERS

$border-width--thin:  1px;
$border-width--thick: 3px;
$border-radius--none: $space--none;
$border-radius:       $space--extra-small;

// ---------------------------------------------------------------------------------------------------
// ANIMATIONS

$animation--duration: 0.3s;

// ---------------------------------------------------------------------------------------------------
// MIXINS

@mixin insertion {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: $space--small $space--none;
}

@mixin box {
  border: $border-width--thin solid $palette--secondary-content;
  border-radius: $border-radius;
  padding: $text-indent;
  padding-left: calc($text-indent - $border-width--thin);
}

@mixin navigation-links {
  a {
    text-decoration: none;
    &.active {
      text-decoration: underline;
      color: $palette--emphasized-content;
    }
  }
}

@mixin superscript {
  vertical-align: super;
  font-size: $font-size--extra-extra-small;
  font-weight: 700;
}

// ---------------------------------------------------------------------------------------------------
// FONTS

@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url("/fonts/charter_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url("/fonts/charter_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url("/fonts/charter_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  src: url("/fonts/charter_bold_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url("/fonts/FiraMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url("/fonts/FiraMono-Medium.woff") format("woff");
}

// ---------------------------------------------------------------------------------------------------
// GRID

*, *::before, *::after {
  outline: none;
}

body {
  margin: $space--none auto;
  padding: $space--medium $grid--padding;
  max-width: $grid--main;
}

@include bigger-screens {
  body {
    max-width: $grid--body;
  }

  main {
    width: $grid--main;
  }

  aside {
    width: $grid--margin-note;
    float: right;
    clear: right;
    margin-right: -$grid--margin-note--pull;
  }
}

.full-width {
  @include insertion;
  clear: both;
}

@include bigger-screens {
  .full-width {
    width: $grid--body;
  }
}

// ---------------------------------------------------------------------------------------------------
// HEADERS

body > header {
  h1 {
    margin-top: $space--none;
  }
  nav {
    @include navigation-links;
     a {
      line-height: $line-height--large;
      display: inline-block;
      margin-right: $space--medium;
    }
  }
  padding-bottom: $space--small;
  border-bottom: $border-width--thin solid $palette--secondary-content;
  margin-bottom: $space--extra-large;
}

main > header {
  h1 {
    margin-bottom: $space--extra-small;
  }
  margin-bottom: $space--medium;
}

.table-of-contents {
  @include insertion;
  @include box;
  @include navigation-links;
  columns: 2;
  ol {
    margin: $space--none;
  }
}

time {
  font-weight: 400;
  font-size: $font-size--small;
  color: $palette--secondary-content;
}

// ---------------------------------------------------------------------------------------------------
// HEADINGS

h1, h2  {
  color: $palette--emphasized-content;
  margin-top: $space--extra-large;
  margin-bottom: $space--small;
  line-height: $line-height--small;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $palette--emphasized-content;
  }
}

body > header h1 {
  font-size: $font-size--extra-extra-large;
  font-style: italic;
}

main > header h1 {
  font-size: $font-size--extra-large;
  font-style: italic;
}

h1 {
  font-size: $font-size--large;
  font-style: italic;
}

h2 {
  font-size: $font-size--medium;
  font-weight: 700;
}

hr {
  border: none;
  margin: $space--none;
  height: $space--large;
}

// ---------------------------------------------------------------------------------------------------
// BODY

body {
  font-synthesis: none;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-family: $font-family--main;
  font-size: $font-size--medium;
  background-color: $palette--background;
  color: $palette--primary-content;
  line-height: $line-height--medium;
}

p {
  margin: $space--none;
  p + & {
    text-indent: $text-indent;
  }
  @include bigger-screens {
    p                                 + aside + &,
    p                         + aside + aside + &,
    p                 + aside + aside + aside + &,
    p         + aside + aside + aside + aside + &,
    p + aside + aside + aside + aside + aside + & {
      text-indent: $text-indent;
    }
  }
}

// ---------------------------------------------------------------------------------------------------
// MARGIN NOTES

aside {
  @include smaller-screens {
    @include insertion;
    font-size: $font-size--medium;
    border-left: $border-width--thick solid $palette--secondary-content;
    border-radius: $border-radius;
    padding: $text-indent;
    padding-left: calc($text-indent - $border-width--thick);
    background-color: $palette--background-highlight;
    color: $palette--emphasized-content;
  }

  @include bigger-screens {
    font-size: $font-size--small;
    margin-bottom: $space--large;
  }
}

body {
  counter-reset: margin-note;
}

.margin-note {
  &::before {
    @include superscript;
    counter-increment: margin-note;
    content: counter(margin-note);
  }
  & > input[type="checkbox"] {
    display: none;
    @include smaller-screens {
      &:checked + span {
        display: block;
      }
    }
  }
  & > span {
    @extend aside;
    text-indent: $space--none;
    &::before {
      @include superscript;
      content: counter(margin-note);
      margin-right: $space--small;
    }
    @include smaller-screens {
      display: none;
    }
  }
}

// ---------------------------------------------------------------------------------------------------
// FIGURES

figure {
  @include insertion;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: $font-size--small;
}

img, svg {
  max-width: 100%;
  height: auto;
}

// ---------------------------------------------------------------------------------------------------
// CODE

pre, code {
  font-family: $font-family--monospace;
}

.code-block, pre {
  @include insertion;
  font-size: $font-size--extra-small;
}

pre {
  @include box;
  background-color: $palette--background;
  overflow: auto;
  .code-block & {
    margin: $space--none;
  }
}

// ---------------------------------------------------------------------------------------------------
// LISTS

ul, ol {
  @include insertion;
  padding-left: $text-indent;
}

// ---------------------------------------------------------------------------------------------------
// TABLES

table {
  @include insertion;
}

th, td {
  padding: $space--none;
  padding-right: $space--medium;
  &:last-child {
    padding-right: $space--none;
  }
}

th {
  font-weight: 700;
  text-align: left;
}

// ---------------------------------------------------------------------------------------------------
// REFERENCES

a {
  transition: background-color $animation--duration;
  border-radius: $border-radius;
  color: $palette--primary-content;
  &:hover {
    background-color: $palette--background-highlight;
    color: $palette--emphasized-content;
  }
  @include smaller-screens {
    aside & {
      color: $palette--emphasized-content;
      &:hover {
        background-color: $palette--background;
        color: $palette--primary-content;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------
// DETAILS

details {
  @include insertion;
}

summary {
  cursor: pointer;
}

// ---------------------------------------------------------------------------------------------------
// INLINE

.placeholder {
  @extend code;
  color: $palette--blue;
}

.error {
  color: $palette--red;
}

// ---------------------------------------------------------------------------------------------------
// PLAYING THE GAME WITH PLT REDEX

.active {
  color: $palette--green;
}

.jumped-over {
  color: $palette--red;
}
