<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Leandro Facchinetti">
    <meta name="description" content="TODO">
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Leandro Facchinetti</a></h1>
      <nav>
        <a href="/about">About</a>
        <a href="/research">Research</a>
        <a href="/prose">Prose</a>
        <a href="/software">Software</a>
        <a href="/music">Music</a>
        <a href="/colophon">Colophon</a>
      </nav>
    </header>
    <main>
      {% if page.title %}
        <header>
          <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
          {% if page.date %}
            <time>{{ page.date }}</time>
          {% endif %}
        </header>
      {% endif %}
      {{ content }}
    </main>
  </body>
</html>
