<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Leandro Facchinetti">
    <meta name="description" content="Leandro Facchinetti writes prose, software and music. He is a Ph.D. candidate in Computer Science.">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{% if page.title %}{{ page.title }} · {% endif %}Leandro Facchinetti</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Leandro Facchinetti</a></h1>
      <label id="main-navigation--label" for="main-navigation--checkbox">{% include expand.svg %}</label>
      <input id="main-navigation--checkbox" type="checkbox">
      <nav>
        <a href="/about"{% if page.url contains "/about" %} class="active"{% endif %}>About</a>
        <a href="/prose"{% if page.url contains "/prose" %} class="active"{% endif %}>Prose</a>
        <a href="/software"{% if page.url contains "/software" %} class="active"{% endif %}>Software</a>
        <a href="/music"{% if page.url contains "/music" %} class="active"{% endif %}>Music</a>
        <a href="/colophon"{% if page.url contains "/colophon" %} class="active"{% endif %}>Colophon</a>
      </nav>
    </header>
    <main>
      {% if page.title %}
        <header>
          {% if page.draft %}
          <p><strong>This is an unpublished draft. Please <a href="mailto:draft@leafac.com">provide feedback</a>.</strong><p>
          {% endif %}
          <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
          {% if page.date %}
            <time>{{ page.date }}</time>
          {% endif %}
          {% if page.table-of-contents %}
            <nav class="table-of-contents">
              <ol>
                {% include_relative {{ page.table-of-contents }} %}
              </ol>
            </nav>
          {% endif %}
        </header>
      {% endif %}
      {{ content }}
      {% if page.table-of-contents %}
        <footer>
          <nav class="table-of-contents">
            <ol>
              {% include_relative {{ page.table-of-contents }} %}
            </ol>
          </nav>
        </footer>
      {% endif %}
    </main>
  </body>
</html>
