<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Leandro Facchinetti">
    <meta name="description" content="Leandro Facchinetti writes prose, software and music. He is a Ph.D. candidate in Computer Science.">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>{% if page.title %}{{ page.title | markdownify | strip_html }} · {% endif %}Leandro Facchinetti</title>
  </head>
  <body>
    <header><h1><a href="/"><img alt="Leandro Facchinetti" src="/logo.png" width="600"></a></h1></header>
    <main>{{ content }}</main>
  </body>
</html>
