<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        color: white;
        background-color: black;
        font: 30px/1.5 -apple-system;
        transform: rotateY(180deg);
      }
    </style>
    <script>
      let enabled = true;
      window.addEventListener("keydown", event => { if (event.keyCode === 13) enabled = !enabled; });
      window.setInterval(() => { if (enabled) window.scrollBy(0, 1); }, 50);
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
