<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        color: white;
        background-color: black;
        transform: rotateY(180deg);
        margin-top: 225px;
      }
      body, h1, h2 {
        font-family: -apple-system;
        font-size: 50px;
        line-height: 1.5;
      }
      p, h1, h2              { display: inline; }
      p::before              { content: " ¶ "; }
      h1::before, h2::before { content: " § "; }
    </style>
    <script>
      const ENTER = 13;
      const SPACE_BAR = 32;
      window.addEventListener("keydown", event => {
        if (event.keyCode === SPACE_BAR) window.scrollBy(0, +75 * 3);
        if (event.keyCode ===     ENTER) window.scrollBy(0, -75 * 3);
      });
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
