<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        color: white;
        background-color: black;
        transform: rotateY(180deg);
      }
      body, h1, h2 {
        font-family: -apple-system;
        font-size: 30px;
        line-height: 1.5;
      }
      p, h1, h2              { display: inline; }
      p::before              { content: " ¶ "; }
      h1::before, h2::before { content: " § "; }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
